body {
  margin: 0;
  background-color: aquamarine;
}
/*ul li
{
  display: flex;
  flex-direction: column;
  justify-content:center; 
  text-decoration-style: solid;
  
  margin-right:40%;
  
}
ul li div img
{
  align-content: center;
  margin-bottom: 5%;
}
ul li div button
{
  display: flex;
  justify-content: center;
}*/